<header
  class="flex justify-between py-4 px-6 md:px-10 h-16 md:h-24 items-center shrink-0"
>
  <div
    class="
      font-jetbrains-mono font-extrabold flex text-lg md:text-xl items-center
    "
  >
    <%= image_tag "logo.svg", class: "h-3 md:h-4" %>
  </div>
  <nav class="grow flex justify-center">
    <ol class="flex gap-2 md:gap-8 uppercase font-semibold text-sm md:text-xl">
      <li>
        <%= link_to t("nav.home"),
        root_path,
        class:
          "hover:text-brand #{current_page?(root_path) ? "text-brand font-bold underline" : ""}" %>
      </li>
      <li>
        <%= link_to t("nav.about"),
        about_path,
        class:
          "hover:text-brand #{current_page?(about_path) ? "text-brand font-bold underline" : ""}" %>
      </li>
      <li>
        <%= link_to t("nav.art"),
        "#",
        class:
          "hover:text-brand #{current_page?("#") ? "text-brand font-bold underline" : ""}" %>
      </li>
      <li>
        <%= link_to t("nav.jot_spot"),
        "#",
        class:
          "hover:text-brand #{current_page?("#") ? "text-brand font-bold underline" : ""}" %>
      </li>
    </ol>
  </nav>
  <%= link_to({ locale: I18n.locale == :es ? "en" : "es" }) do %>
    <div
      class="
        border border-brand px-2 py-1 border-2 rounded text-xs md:text-xl cursor-pointer
        select-none
      "
    >
      <span class="font-semibold <%= I18n.locale == :en ? 'text-brand' : '' %>">EN</span>/<span class="font-semibold <%= I18n.locale == :es ? 'text-brand' : '' %>">ES</span>
    </div>
  <% end %>
</header>
