<header
  class="flex justify-between px-6 md:px-10 md:py-2 h-16 md:h-24 items-center"
>
  <div
    class="
      font-jetbrains-mono font-extrabold flex text-lg md:text-xl items-center
    "
  >
    <%= image_tag "rr_logo.svg", class: "h-3 md:h-4" %>
  </div>
  <nav class="grow flex justify-center">
    <ol class="flex gap-2 md:gap-8 uppercase font-semibold text-sm md:text-xl">
      <li>
        <%= link_to t("nav.resume"),
        I18n.locale == :es ? "/romer_ramos_spanish.pdf" : "/romer_ramos_english.pdf",
        target: "_blank" %>
      </li>
      <li><%= t("nav.about") %></li>
      <li><%= t("nav.art") %></li>
      <li><%= t("nav.jot_spot") %></li>
    </ol>
  </nav>
  <%= link_to({ locale: I18n.locale == :es ? "en" : "es" }) do %>
    <div
      class="
        border border-brand px-2 py-1 border-2 rounded text-xs md:text-xl cursor-pointer
        select-none
      "
    >
      <span class="font-semibold <%= I18n.locale == :en ? 'text-brand' : '' %>">EN</span>/<span class="font-semibold <%= I18n.locale == :es ? 'text-brand' : '' %>">ES</span>
    </div>
  <% end %>
</header>
